body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#canvas-container {
    flex: 2;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #ccc;
}

#sidebar {
    flex: 1;
    padding: 20px;
}

#addNodeButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#linkNodesButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}