canvas {
    border: 1px solid black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.code-container, .pop-code-container {
    margin-left: 20px;
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.popBack-line {
    display: block;
}
.popFront-line {
    display: block;
}
.highlight {
    background-color: yellow;
}
.explanation-box {
    margin-left: 20px;
    width: 560px;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.canvas-and-tracer-container{
    display: flex; /*side by side*/

}
#canvas-and-controls{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}