body {
    font-family: Arial, sans-serif;
    background-color: pink;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .quiz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quiz-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #e1f5fe;
    border-radius: 8px;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  